body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}

section {
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
}
#parallax-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.carousel-container {
  width: 100%;
  max-width: 40rem;
  height: 20rem;
  margin: 2rem auto;
}

.carousel-container img {
  height: 20rem;
  object-fit: cover;
}

#signup {
  width: 20rem;
  margin: 1rem auto;
}
